#calculator{
    align-content: center;
    align-self: center;
    font-family: Arial, sans-serif;
    background-color: #31473A;
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
}

#dsp{
    width: 100%;
    height: 40%;
    padding: 30px;
    border: none;
    background-color: #395545;
    color:aliceblue;
    font-size: 2.5rem;;
}

#keys{
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap:10px;
    padding: 25px;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(74, 133, 116);
}

button{
    width: 80px ;
    height: 80px;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.btn{
    background-color: #629176;
    color: white;
}

.btn:hover{
    background-color: #426250;
    color: white;
}

.btn:active{
    background-color: #23342a;
    color: white;
}

.main{
    background-color: #59816a;
    color: white;
}

.main:hover{
    background-color: #426250;
    color: white;
}

.main:active{
    background-color: #23342a;
    color: white;
}
